@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

/* SHARED BETWEEN ALL PAGES */
#logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.7%;
}

#logo:hover {
    animation: ballRollLogo 2.2s;
}
@keyframes ballRollLogo {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-50deg);
    }
    55% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#menuFiller {
    padding-top: 0.7%;
}

/* Nav */
.navLinks li {
    list-style: none;
}

.navLinks li a {
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 0;
    text-decoration: none;
}

/* Menu bar items hover action */
#nav a:hover {
    color: #fdff98;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}

#nav ul {
    list-style: none;
    padding-left: 0;
}

#nav ul li {
    float: left;
    line-height: 4.5em;
}

/* Menu Bar items styling */
#nav ul li a, #nav ul li span {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-family: 'tahoma', sans-serif;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}

/* Button to go back to top */
.backToTop {
    --offset: 50px; 
    
    position: sticky;
    left: 93%;
    bottom: 20px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    text-decoration: none;
    padding: 10px;
    font-family: 'tahoma', sans-serif;
    color: #ffffff;
    background: #000000;
    border-radius: 100px;
    white-space: nowrap;
  }

#wip {
    color: #ffffff;
    font-family: 'tahoma', sans-serif;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

#credit {
    color: #ffffff;
    font-family: 'tahoma', sans-serif;
    text-align: center;
    width: 100%;
}




/* HOME PAGE */
#homeBody {
    background: #000000;
    overflow-x: hidden;
}

.typer {
    font-family: 'roboto', sans-serif;
    font-size: 5em;
    color: #ffffff;
    font-weight: 100;
    padding-left: 10%;
    padding-top: 5%;
}

.txt-rotate {
    font-weight: 400;
}

.mainDescription {
    font-family: 'roboto', sans-serif;
    font-size: 1.45em;
    color: #adadad;
    font-weight: 200;
    width: 68%;
    padding-left: 10%;
    line-height: 1.3;
}

.txt-rotate ::after { /* Cursor and blinking animation */
    content: "";
    width: 3px;
    height: 0.8em;
    background: #e0dbdb;
    display: inline-block;
    animation: cursorBlink 3s steps(1) infinite;
}
@keyframes cursorBlink {
    0% {
        visibility: visible;
        opacity: 100;
    }
    20% {
        visibility: hidden;
        opacity: 0%;
    }
    40% {
        visibility: visible;
        opacity: 100;
    }
    60% {
        visibility: hidden;
        opacity: 0%;
    }
    80% {
        visibility: visible;
        opacity: 100;
    }
    100% {
        visibility: hidden;
        opacity: 0%;
    }
}

#homePageFiller {
    padding-top: 15%;
}



/* ABOUT PAGE */
#aboutBody {
    background: #000000;
    height: 1600px;
    overflow-x: hidden;
}

#aboutPageFiller {
    padding-top: 7%;
}

#aboutDescription {
    font-family: 'roboto', sans-serif;
    font-size: 1.2em;
    color: #b0b0b0;
    font-weight: 100;
    padding-left: 10%;
    padding-bottom: 1.5%;
    line-height: 1.5;
    width: 70%;
}

/* Styling for the words and lines above the skills animation*/
#skillsHeaderAbout {
    font-family: 'tahoma', sans-serif;
    font-size: 220%;
    color: #ffffff;
    font-weight: 100;
    padding-top: 5.5%;
    padding-bottom: 6%;
    text-align: center;
    width: 100%;
}

#skillsFooterAbout {
    font-family: 'tahoma', sans-serif;
    font-size: 220%;
    color: #ffffff;
    font-weight: 100;
    padding-top: 27%;
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
}

/* A duplicate 1 ball to cover the animation. Goes away when animation begins. */
#coverBall {
    width: 20%;
    left: 40%;
    position: absolute;
}

/* Pool balls and cue animation */
.poolBalls {
    width: 20%;
    left: 40%;
    position: absolute;
    opacity: 0;
}

/* Ball rolling animation */
@keyframes ballRollSkills {
    0% {
    }
    100% {
        transform: translate(-500%);
    }
}

/* Pool cue image styling */
#poolCue {
    height: 32%;
    width: 200%;
    left: 70%;
    top: 150%;
    position: absolute;
}

/* Cue stick moving back and hitting ball animation */
@keyframes hitBall {
    0% {
        transform: translate(0%);
    }
    30% {
        transform: translate(11%);
    }
    40% {
        transform: translate(-5.85%);
    }
    55% {
        transform: translate(-5.85%);
    }
    100% {
        transform: translate(0%);
    }
}




/* RESUME PAGE */
#resumeBody {
    background: #000000;
    overflow-x: hidden;
}

#resume {
    padding-left: 25%;
    width: 50%;
}

#downloadButtonContainer {
    padding-top: 1%;
    text-align: center;
}

#downloadButton {
    font-family: 'roboto', sans-serif;
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    border-radius: 50px;
    background: #adadad;
    margin: 10px;
    transition: .5s;
}

#downloadButton:hover {
    background-color: #ffffff;
}

#downloadButton:hover span.downloadIcon {
    left: 100%;
    margin-left: -45px;
    background-color: #000000;
    color: #ffffff;
}

#downloadButton:hover span.downloadTitle {
    left: 40px;
    opacity: 0;
}

#downloadButton:hover span.clickHereTitle {
    opacity: 1;
    left: 40px;
}

#downloadButton span.downloadIcon {
    display: block;
    background-color: #ffffff;
    color: #adadad;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

#downloadButton span.downloadTitle, #downloadButton span.clickHereTitle {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
    color: #ffffff;
    left: 80px;
}

#downloadButton span.clickHereTitle {
    left: 80px;
    opacity: 0;
    color: #000000;
}

#resumePageFiller {
    padding-top: 7%;
}