#logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.7%;
}

#logo:hover {
    animation: ballRollLogo 2.2s;
}
@keyframes ballRollLogo {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-50deg);
    }
    55% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#menuFiller {
    padding-top: 0.7%;
}

/* Nav */
.navLinks li {
    list-style: none;
}

.navLinks li a {
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 0;
    text-decoration: none;
}

/* Menu bar items hover action */
#nav a:hover {
    color: #fdff98;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}

#nav ul {
    list-style: none;
    padding-left: 0;
}

#nav ul li {
    float: left;
    line-height: 4.5em;
}

/* Menu Bar items styling */
#nav ul li a, #nav ul li span {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-family: 'tahoma', sans-serif;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}

/* Button to go back to top */
.backToTop {
    --offset: 50px; 
    
    position: sticky;
    left: 93%;
    bottom: 20px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    text-decoration: none;
    padding: 10px;
    font-family: 'tahoma', sans-serif;
    color: #ffffff;
    background: #000000;
    border-radius: 100px;
    white-space: nowrap;
  }

#wip {
    color: #ffffff;
    font-family: 'tahoma', sans-serif;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

#credit {
    color: #ffffff;
    font-family: 'tahoma', sans-serif;
    text-align: center;
    width: 100%;
}

/* WORK PAGE */
#workBody {
    background: #000000;
    overflow-x: hidden;
}

@media screen and (min-width: 700px) {
	body > article {
		display: flex;
		flex-wrap: wrap;
	}

	figure {
		background: #ffffff;
		width: 50%;
		height: 100vh;
		margin: 0 auto 10vh 0;
		position: sticky;
		top: 0;
		overflow: hidden;
	}

	figure:nth-of-type(2n)::after {
		right: 50%;
		left: 5vmin;
	}

	figure:nth-of-type(1), section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
	}

	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
	}

	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
	}

	figure:last-of-type, section:last-of-type {
		margin-bottom: 0;
	}

	figure img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

#introSlide {
    background-color: #000000;
    color: #ffffff;
    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#introSlide h1 {
    text-align: center;
    padding-top: 10%;
    font-family: 'tahoma', sans-serif;
    font-size: 400%;
    font-weight: 10;
}

#introSlide p {
    text-align: center;
    padding-bottom: 15%;
    font-family: 'tahoma', sans-serif;
    font-size: 120%;
    font-weight: lighter;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}
  
.arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}
  
@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}
  
@-webkit-keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
}
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s;
}

#sfDescSlide {
    background-color: #505050;
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}

#sfDescSlide h1 {
    padding-left: 10%;
    padding-top: 10%;
}

#sfDescSlide p {
    padding-left: 10%;
    width: 80%;
    line-height: 1.25;
}

#websiteDescSlide {
    background-color: #adadad;
    color: #000000;
    font-family: 'roboto', sans-serif;
}

#stockDescSlide {
    background-color: #000000;
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}

#workPageFiller {
    padding-top: 5%;
}